snippet fln
	fmt.Println(${1})${2}
snippet ff
	fmt.Printf(${1})${2}
snippet fff
	fmt.Fprintf(${1}, ${2})${3}
snippet lln
	log.Println(${1})${2}
snippet lf
	log.Printf(${1})${2}
snippet exit
	os.Exit(0)
