# Debug
### console.log
snippet c
	console.log(${1});${2}
snippet c1
	console.log(1);${1}
snippet c2
	console.log(2);${1}
snippet c3
	console.log(3);${1}
snippet c4
	console.log(4);${1}
snippet c5
	console.log(5);${1}

