snippet if
	if (${1:/* condition */})
	{
		${2:// code...}
	}
	${3}

# nonation
snippet /*
	/*
	* ${1:nonation}
	*/

# test output
snippet qq
	echo 'qq';
snippet cc
	echo 'cc';
snippet dd
	echo 'dd';
snippet var
	var_dump(${1:variable})${2}
snippet br
	'<br />'

# debug 
snippet log
    log_message('info', ${1:/* message  */});${2}
snippet pre
	echo '<pre>';print_r(${1:/* Array */});${2}
